* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
}

.main-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

header, nav, main, aside, footer {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

header, aside, .center-block, footer {
    margin: 10px;
}

.nav_mobile {
    display: none;
}

.center-block {
    flex: 2;
    order: 2;
}

nav {
    margin-bottom: 10px;
    background-color: bisque;
}

aside {
    flex: 1 auto;
    max-width: 10vw;
}

.aside-left {
    order: 1;
    background-color:paleturquoise;
    word-break: break-all;
}

.aside-right {
    order: 3;
    background-color: lightsteelblue;
}

footer {
    order: 4;
    background-color: blue;
    text-align: center;
}

header {
    background-color: aqua;
}

main {
    background-color: blueviolet;
    flex: 2;
    order: 2;
}

.bold {
    text-align: center;
    font-weight: 700;
}

@media all and (max-width: 1024px) {
    .container {
        max-width: 95vw;
    }
}

@media (max-width: 768px) and (min-width: 445px) {
    .container {
        max-width: 95vw;
    }

    .main-container {
        justify-content: space-between;
    }

    header {
        order: 1;
    }

    .nav_mobile {
        display: inline-block;
        order: 2;
        width: 100%;
        margin: 0 10px;
    }

    .nav_laptop {
        display: none;
    }

    .aside-left {
        min-width: 20vw;
        order: 3;
    }

    main {
        order: 4;
        max-width: 69.7vw;
        min-width: 66vw;
    }

    .center-block {
        flex: 2;
        order: 4;
    }

    .aside-right {
        min-width: 20vw;
        order: 5;
        height: 72px;
        overflow: auto;
    }

    footer {
        order: 6;
        max-width: 69.7vw;
        min-width: 66vw;
    }
}

/* I HATE FLEXBOX UP TO 214 LINE */

@media (max-width: 754px) and (min-width: 740px) {
    footer {
        max-width: 69.6vw;
    }
}

@media (max-width: 740px) and (min-width: 728px) {
    footer {
        max-width: 69.5vw;
    }
}

@media (max-width: 727px) and (min-width: 715px) {
    footer {
        max-width: 69.4vw;
    }
}

@media (max-width: 714px) and (min-width: 702px) {
    footer {
        max-width: 69.3vw;
    }
}

@media (max-width: 702px) and (min-width: 667px) {
    footer {
        max-width: 69vw;
    }
}

@media (max-width: 666px) and (min-width: 616px) {
    footer {
        max-width: 68.5vw;
    }
}

@media (max-width: 615px) and (min-width: 572px) {
    footer {
        max-width: 68vw;
    }
}

@media (max-width: 571px) and (min-width: 534px) {
    footer {
        max-width: 67.5vw;
    }
}

@media (max-width: 533px) and (min-width: 481px) {
    footer {
        max-width: 67vw;
    }
}

@media (max-width: 499px) and (min-width: 471px) {
    main {
        max-width: 69vw;
    }

    footer {
        max-width: 66.5vw;
    }
}

@media (max-width: 470px) and (min-width: 445px) {
    footer {
        max-width: 66vw;
    }
}

@media (max-width: 444px) and (min-width: 320px) {
    .container {
        max-width: 95vw;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .main-container > * {
        max-width: none;
        min-width: none;
        width: auto;
        order: unset;
    }

    aside {
        max-width: none;
    }
}
