* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
}

.main-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

header, nav, main, aside, footer {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

header, aside, .center-block, footer {
    margin: 10px;
}

.center-block {
    flex: 2;
}

nav {
    margin-bottom: 10px;
}

aside {
    flex: 1 auto;
    max-width: 10vw;
}

.aside-left {
    order: 1;
}

.center-block {
    order: 2;
}

.aside-right {
    order: 3;
}

footer {
    order: 4;
}

header {
    background-color: aqua;
}

nav {
    background-color: bisque;
}

main {
    background-color: blueviolet;
}

.aside-left {
    background-color:paleturquoise;
}

.aside-right {
    background-color: lightsteelblue;
}

footer {
    background-color: blue;
    text-align: center;
}

.bold {
    text-align: center;
    font-weight: 700;
}

@media all and (max-width: 1024px) {
    .container {
        max-width: 95vw;
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    .container {
        max-width: 95vw;
    }

    aside {
        flex: 1 auto;
        /* max-width: 0; */
    }

    .aside-left {
        flex: 1;
        order: 1;
    }

    main {
        flex: 2;
        order: 2;
    }

    .aside-right {
        flex: 0;
        order: 3;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .container {
        max-width: 95vw;
    }

    .main-container {
        
    }
}
